<% if !@subpages.empty? %>
  <div id='subnav'>
    <ul>
      <% for page in @subpages %>
        <li <%= "style='background-color:#{page.navcolor}'" %> ><%= link_to page.navlabel, view_page_path(page.name) %></li>
      <% end -%>
      </ul>
  </div>
<% elsif @page.parent %>
  <div id='subnav'>
    <ul>
      <li><%= link_to "Return to #{@page.parent.navlabel}",
              view_page_path(@page.parent.name) %>
      </li>
    </ul>
  </div>
<% end -%>


<% if logged_in? and @current_user.admin_user? %>
<div style = "position:absolute; top:13px; left: 40px">
 	 <a href='#' id='edit'>Edit This Page</a> 
  </div>


	<%= in_place_editor_field :page, 'body', {}, 
	{:rows => 20, :cols => 120, :external_control => 'edit', :external_control_only => true,
	 :load_text_url => {:controller => 'viewer', :action => 'get_unformatted_text', :id => @page.id}
	} %>

<% else %>

	<%= @page.body %>

<% end -%>